{% extends "blog/base.html" %}

{% block title %}Password Reset Complete{% endblock %}

{% block content %}
    <div class="max-w-lg mx-auto mt-10 p-6 bg-white rounded-lg border shadow ">
        <h1 class="text-3xl font-bold text-center text-gray-800 mb-6">Password Set</h1>

        <p class="text-center text-gray-600 mb-6">Your password has been successfully set. You can now <a href="{% url 'account:login' %}" class="text-blue-600 hover:text-purple-600">log in</a> with your new password.</p>
    </div>
{% endblock %}
