{% extends "blog/base.html" %}
<!--Show in the title in the browser tab-->

{% block title %}
    {% if user.is_authenticated %}
        From the Blog - {{ user.username }}'s Account
    {% else %}
        From the Blog - Login
    {% endif %}
{% endblock %}

<!--Show in the title in the browser tab-->

{% block content %}
    {% if user.is_authenticated %}

    <!--Logged in version-->
        
        <div class="max-w-md mx-auto mt-10 p-6 bg-white mg-4">
            
            <!--Account Welcome -->
            <div class = "border-b border-gray-300 py-4">
                <h2 class="text-2xl font-bold mb-6 text-center">Welcome back, {{ user.username }}!</h2>
                <p class="text-center">What do you want to do ?</p>
            </div>
            <!--Account Welcome -->

            <!--Account Manage Form-->
            <div class="text-center border-b border-gray-300 py-4">
                <p class="text-lg mt-4 text-center">You can change your password here.</p>
                <div class="mt-4">
                    <a href="{% url 'account:password_change' %}" class="w-full bg-white text-black font-bold mt-2 py-2 border shadow rounded hover:bg-gray-700 hover:text-white transition block text-center">Change Password</a>
                </div>
            </div>
            <!--Account Manage Form-->

            <!--Logout Form-->
            <div class="text-center mt-4 border-b border-gray-300 py-4">
                <p class="text-lg mt-4 text-center">Use the button bellow to logout from your account.</p>
                <form method="POST" action="{% url 'account:logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="w-full bg-white text-black font-bold mt-2 py-2 border shadow rounded hover:bg-gray-700 hover:text-white transition">
                        Logout
                    </button>
                </form>
            </div>
            <!--Logout Form-->

            <!--Go Back to Blog-->
            <div class="text-center mt-4 border-b border-gray-300 py-4">
                <p class="text-lg mt-4 text-center">Came here by accident? Use the button bellow to go back</p>
                <div class = "mt-4">
                    <a href="{% url 'blogapp:post_list' %}" class="w-full bg-white text-black font-bold mt-2 py-2 border shadow rounded hover:bg-gray-700 hover:text-white transition block text-center">Go to Blog</a>
                </div>
            </div>
            <!--Go Back to Blog-->

        </div>
    <!--Logged in version-->

    <!--Logged Out Version-->
    {% else %}
    <!--Login Form-->
        <div class="max-w-md mx-auto mt-10 p-6 bg-white mg-4 border rounded-lg shadow">
            <h2 class="text-2xl font-bold mb-6 text-center">Login</h2>

            <form method="POST" novalidate>
                {% csrf_token %}
                {{ form.non_field_errors }}

                <div class="mb-4">
                    {{ form.username.label_tag }}
                    {{ form.username}}
                    {{ form.username.errors }}
                </div>

                <div class="mb-4">
                    {{ form.password.label_tag }}
                    {{ form.password}}
                    {{ form.password.errors }}
                </div>

                <button type="submit" class="w-full bg-white text-black font-bold py-2 border shadow rounded hover:bg-gray-700 hover:text-white transition ">
                    Login
                </button>
            </form>
        </div>
    <!--Login Form-->
        <!--Password Reset reference-->
        <div class="text-gray-500 text-center mt-4">
            <p class="mb-2">Forgot your password? <a href="{% url 'account:password_reset' %}" class="text-blue-500 hover:text-purple-500">Reset it here</a></p>
        </div>
        <!--Password Reset reference-->

        <!--Register to the blog reference-->
        <div class="text-gray-500 text-center mt-4">
            <p class="mb-2">Don't have an account? <a href="{% url 'account:register' %}" class="text-blue-500 hover:text-purple-500">Register now</a></p>
        </div>
        <!--Register to the blog reference-->

        <!--Go back to blog-->
        <div class="text-gray-500 text-center mt-4">
            <p class="mb-2">Don't wanna use an account? <a href="{% url 'blogapp:post_list' %}" class="text-blue-500 hover:text-purple-500">Go back to the blog</a></p>
        </div>
        <!--Go back to blog-->

    {% endif %}

{% endblock %}
