<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}From the Blog{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-white">

    <!-- Heading -->
    <div class="max-w-3xl mx-auto px-4 pt-8 text-center">
        <h1 class="text-4xl font-bold text-left mb-2">From the Blog</h1>
        <p class="text-lg text-left mb-4">Lorem ipsum</p>
    </div>
    

    <!-- Content Block -->
    <div class="max-w-3xl mx-auto px-4 pb-24 ">
        {% block content %}{% endblock %}
    </div>

</body>
</html>
